<%- include('../partials/header-admin.ejs') %>
<%- include('../partials/nav-admin.ejs') %>

<section class="add-info-box">
    <h1> Edit Airline</h1>
    <form class="add-info-subbox" action='/admin/airline/<%= airline._id %>/edit?_method=PUT' method="POST" enctype="multipart/form-data">
        <div class="container">
            <div class="row">
                <div class="mb-2 col-md-2">
                    <label for="exampleFormControlInput1" class="form-label">Current Logo</label><br>
                    <img src='<%= airline.logo %>' width="40%">
                </div>
                <div class="mb-6 col-md-6">
                    <label class="form-label">Airline Name</label>
                    <div class="input-group">
                        <input type="text" class="form-control" name="airline[name]"
                            placeholder="<%= airline.name %>" value="<%= airline.name %>"  required>
                        <input type="text" class="form-control" name="airline[IATA]" 
                            placeholder="<%= airline.IATA %>" value="<%= airline.IATA %>" required>   
                    </div>                    
                </div>
                <div class="mb-4 col-md-4">
                    <label for="exampleFormControlInput1" class="form-label">Airline Logo</label>
                    <input type="file" class="form-control"  name="image" accept="image/*">
                </div>
            </div>   

            <div class="row">
                <div class="mb-11 col-md-11"></div>
                <button type="submit" class="btn btn-primary mb-1 col-md-1">UPDATE</button>
            </div>

        </div>
    </form>
</section>

<%- include('../partials/footer-admin.ejs') %>