<%- include('../partials/header-admin.ejs') %>
<%- include('../partials/nav-admin.ejs') %>

<section class="add-info-box">
    <h1> Add Flight</h1>
    <form class="add-info-subbox" style="margin-bottom: 100px;" action='/admin/flight/add-new' method="POST">
        <div class="container">
            <!-- Flight number, Airline, Aircraft-->
            <div class="row">
                <!-- Flight number -->
                <div class="mb-3 col-md-3">
                    <label class="form-label">Flight Number</label>
                    <input type="text" class="form-control" name="flightNumber"
                        placeholder="Flight number" required>
                </div>
                <!-- Airline, Aircraft -->
                <div class="mb-9 col-md-9">
                    <label for="airline" class="form-label">Airline</label>
                    <div class="input-group">
                        <!-- Airline -->
                        <select class="form-select" list="airlines" name="airline" id="airline" required>
                            <option value="" disabled selected>Airline Name</option>
                            <% airlines.forEach((airline)=> { %>
                                <option value="<%= airline._id %>">
                                    <%= airline.name %>
                                </option>
                                <% }) %>
                        </select>
                        <!-- Aircraft -->
                        <select class="form-select" list="aircraft" name="aircraft" id="aircraft" required>
                            <option value="" disabled selected>Aircraft Model</option>
                            <% aircrafts.forEach((aircraft)=> { %>
                                <option value="<%= aircraft._id %>" id="checkAircraft" onclick="checkSeatAircraft()">
                                    <%= aircraft.aircraftModel %>
                                </option>
                                <% }) %>
                        </select>
                    </div>                   
                </div>
            </div>

            <!-- Location, Mileage, Departure, Arrival -->
            <div class="row" style="margin-bottom: 30px;">
                <!-- Location -->
                <div class="mb-5 col-md-5">
                    <label for="airline" class="form-label">Location</label>
                    <div class="input-group">
                        <span class="input-group-text">From</span>
                        <select class="form-select" list="airlines" name="origin" id="origin" onchange="checkLocation()" required>
                            <option value="" disabled selected>Origin</option>
                            <% airports.forEach((airport)=> { %>
                                <option value="<%= airport._id %>">
                                    <%= airport.IATA %> (<%= airport.city %>, <%= airport.country %>)
                                </option>
                                <% }) %>
                        </select>
                        <span class="input-group-text">To</span>
                        <select class="form-select" list="aircraft" name="destination" id="destination" onchange="checkLocation()" required>
                            <option value="" disabled selected>Destination</option>
                            <% airports.forEach((airport)=> { %>
                                <option value="<%= airport._id %>">
                                    <%= airport.IATA %> (<%= airport.city %>, <%= airport.country %>)
                                </option>
                                <% }) %>
                        </select>
                    </div>                      
                </div>
                <!-- Mileage -->
                <div class="mb-1 col-md-1">
                    <label class="form-label">Mileage</label>
                    <input type="number" class="form-control" name="mileage" min="1" required>
                </div>
                <!-- Depature, Arrival -->
                <div class="mb-3 col-md-3">
                    <label class="form-label">Depature</label>
                    <input type="datetime-local" class="form-control" name="depature" id="departureDate" 
                        min="" onchange="checkDate()" required>
                </div>
                <div class="mb-3 col-md-3">
                    <label class="form-label">Arrival</label>
                    <input type="datetime-local" class="form-control" name="arrival" id="arrivalDate" 
                        min="" onchange="checkDate()" required>
                </div>
            </div>

            <!-- Economy Class -->
            <div class="row" style="margin-top: 15px;">
                <h6><strong>Economy Class</strong></h6>
                <!-- Price -->
                <div class="mb-12 col-md-12">  
                    <label for="price" class="form-label">Price</label>
                    <div class="input-group">
                        <span class="input-group-text">Adult</span>
                        <span class="input-group-text">฿</span>
                        <input type="number" class="form-control" name="ecoPriceAdult" placeholder="Price"
                            min="1" required>
                        <span class="input-group-text">Child</span>
                        <span class="input-group-text">฿</span>
                        <input type="number" class="form-control" name="ecoPriceChild" placeholder="Price"
                            min="1" required>
                        <span class="input-group-text">Infant</span>
                        <span class="input-group-text">฿</span>
                        <input type="number" class="form-control" name="ecoPriceInfant" placeholder="Price"
                            min="1" required>
                    </div>
                </div>
                <!-- Baggage, Cabin Baggage, Facility -->
                <div class="row" style="margin-top: 10px;">
                    <!-- Baggage -->
                    <div class="mb-5 col-md-5">
                        <label for="Baggage" class="form-label">Baggage</label>
                        <input type="number" class="form-control" name="ecoBaggage" placeholder="Weight (kg)"
                            min="0" required>
                    </div>
                    <!-- Cabin Baggage -->
                    <div class="mb-5 col-md-5">
                        <label for="CabinBaggage" class="form-label">Cabin baggage</label>
                        <input type="number" class="form-control" name="ecoCabinBaggage" placeholder="Weight (kg)"
                            min="0" required>
                    </div>
                    <!-- Facility -->
                    <div class="mb-2 col-md-2">
                        <label for="Facility" class="form-label">Facility</label>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="true" name="ecoMeal">
                            <label class="form-check-label">Meal</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="true" name="ecoEntertain">
                            <label class="form-check-label">Entertain</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="true" name="ecoWifi">
                            <label class="form-check-label">Wifi</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="true" name="ecoUsb">
                            <label class="form-check-label">USB</label>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Business Class-->
            <div class="row" style="margin-top: 15px;">
                <h6><strong>Business Class</strong></h6>
                <!-- Price -->
                <div class="mb-12 col-md-12">  
                    <label for="price" class="form-label">Price</label>
                    <div class="input-group">
                        <span class="input-group-text">Adult</span>
                        <span class="input-group-text">฿</span>
                        <input type="number" class="form-control" name="busPriceAdult" placeholder="Price"
                            min="1" required>
                        <span class="input-group-text">Child</span>
                        <span class="input-group-text">฿</span>
                        <input type="number" class="form-control" name="busPriceChild" placeholder="Price"
                            min="1" required>
                        <span class="input-group-text">Infant</span>
                        <span class="input-group-text">฿</span>
                        <input type="number" class="form-control" name="busPriceInfant" placeholder="Price"
                            min="1" required>
                    </div>
                </div>
                <!-- Baggage, Cabin Baggage, Facility -->
                <div class="row" style="margin-top: 10px;">
                    <!-- Baggage -->
                    <div class="mb-5 col-md-5">
                        <label for="Baggage" class="form-label">Baggage</label>
                        <input type="number" class="form-control" name="busBaggage" placeholder="Weight (kg)"
                            min="0" required>
                    </div>
                    <!-- Cabin Baggage -->
                    <div class="mb-5 col-md-5">
                        <label for="CabinBaggage" class="form-label">Cabin baggage</label>
                        <input type="number" class="form-control" name="busCabinBaggage" placeholder="Weight (kg)"
                            min="0" required>
                    </div>
                    <!-- Facility -->
                    <div class="mb-2 col-md-2">
                        <label for="Facility" class="form-label">Facility</label>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="true" name="busMeal">
                            <label class="form-check-label">Meal</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="true" name="busEntertain">
                            <label class="form-check-label">Entertain</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="true" name="busWifi">
                            <label class="form-check-label">Wifi</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="true" name="busUsb">
                            <label class="form-check-label">USB</label>
                        </div>
                    </div>
                </div>
            </div>

            <!-- First Class -->
            <div class="row" style="margin-top: 15px;">
                <h6><strong>First Class</strong></h6>
                <!-- Price -->
                <div class="mb-12 col-md-12">  
                    <label for="price" class="form-label">Price</label>
                    <div class="input-group">
                        <span class="input-group-text">Adult</span>
                        <span class="input-group-text">฿</span>
                        <input type="number" class="form-control" name="firstPriceAdult" placeholder="Price"
                            min="1" required>
                        <span class="input-group-text">Child</span>
                        <span class="input-group-text">฿</span>
                        <input type="number" class="form-control" name="firstPriceChild" placeholder="Price"
                            min="1" required>
                        <span class="input-group-text">Infant</span>
                        <span class="input-group-text">฿</span>
                        <input type="number" class="form-control" name="firstPriceInfant" placeholder="Price"
                            min="1" required>
                    </div>
                </div>
                <!-- Baggage, Cabin Baggage, Facility -->
                <div class="row" style="margin-top: 10px;">
                    <!-- Baggage -->
                    <div class="mb-5 col-md-5">
                        <label for="Baggage" class="form-label">Baggage</label>
                        <input type="number" class="form-control" name="firstBaggage" placeholder="Weight (kg)"
                            min="0" required>
                    </div>
                    <!-- Cabin Baggage -->
                    <div class="mb-5 col-md-5">
                        <label for="CabinBaggage" class="form-label">Cabin baggage</label>
                        <input type="number" class="form-control" name="firstCabinBaggage" placeholder="Weight (kg)"
                            min="0" required>
                    </div>
                    <!-- Facility -->
                    <div class="mb-2 col-md-2">
                        <label for="Facility" class="form-label">Facility</label>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="true" name="firstMeal">
                            <label class="form-check-label">Meal</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="true" name="firstEntertain">
                            <label class="form-check-label">Entertain</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="true" name="firstWifi">
                            <label class="form-check-label">Wifi</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="true" name="firstUsb">
                            <label class="form-check-label">USB</label>
                        </div>
                    </div>
                </div>
            </div>

          
            <div class="row" style="margin-top: 10px;">
                <div class="mb-11 col-md-11"></div>
                <button type="submit" class="btn btn-primary mb-1 col-md-1">ADD</button>
            </div>

        </div>
    </form>
</section>

<%- include('../partials/footer-admin.ejs') %>