<%- include('../partials/header-user.ejs') %>
<%- include('../partials/nav-user.ejs') %>

<div class="row">
    <!-- Side nav -->
    <div class="mb-1 col-md-1"></div>
    <div class="mb-3 col-md-3">
        <div class="mb-12 col-md-12 profile">
            <h5><strong> <%= currentUser.title %> <%= currentUser.firstname %> <%= currentUser.lastname %> </strong></h5>
            <h6>  Accumulated mileage: <%= currentUser.mileage %> </h6>
            <hr>
            <ul class="nav nav-pills flex-column mb-auto">
                <li></i><a href="/user/profile" class="nav-link"><i class="bi bi-person"></i>   My Profile</a></li>
                <li><a href="/user/booking" class="nav-link active"><i class="bi bi-book"></i>   My Booking</a></li>
                <hr>
                <li><strong><a href="/logout" class="nav-link" style="color: black;"><i class="bi bi-power"></i>  Log out</a></strong></li>
            </ul>
        </div>
    </div>
    <!-- Main detail -->

    <div class="mb-1 col-md-1"></div>
    <div class="mb-6 col-md-6 user-main">
        <h3 style="margin-bottom: 20px;"> E-Ticket </h3>
        
        <% if( bookings.length == 0  ) { %>
            <div class="row detail-profile">
                <h3>No result</h3>
            </div>
        <% } %>
    
        <% bookings.forEach((booking)=> { %>    
        <div class="row detail-profile">
            <div class="row ms-2" style="height: max-content;">
                <div class="e-box col-7">
                    <h5>Flight Detail</h5>
                    <hr>
                    <p>Departure: <%=  booking.flight.departure %> |
                        <% if(booking.adult > 0) { %>
                            <%= booking.adult %> Adult
                        <% } %>
                        <% if(booking.child > 0) { %>
                            , <%= booking.child %> Child
                        <% } %>
                        <% if(booking.infant > 0) { %>
                            , <%= booking.infant %> Infant
                        <% } %>
                    </p>
                    <div class="row align-items-center justify-content-center text-center" id=flightlist>
                       
                        <div class="col-sm-4 col-xl-3" id="flightairline">
                            <img src="<%= booking.flight.airline.logo %>" alt="Airline logo" width="50" height="50">
    
                            <div>
                                <strong> <%=  booking.flight.airline.name %> </strong>
                                (<%=  booking.flight.flightNumber %>)
                            </div>
                        </div>
    
                        <div class="col-4 col-sm-3 col-xl-2" id="flightfrom">
                            <div class="fw-bold">
                                <%= booking.flight.departureTime %> 
                            </div>
                            <div>
                                <%= booking.flight.origin.IATA %> 
                            </div>
                        </div>
    
                        <div class="col-3 col-sm-2 col-xl-3"><i class="bi bi-arrow-right"></i></div>
    
                        <div class="col-4 col-sm-3 col-xl-3" id="flightto">
                            <div class="fw-bold">
                                <%= booking.flight.arrivalTime %> 
                            </div>
                            <div>
                                <%= booking.flight.destination.IATA %>
                            </div>
                        </div>
    
                    </div>
    
                </div>
                    
                <div class="e-box col-5">
                    <h5>Payment Detail</h5>
                    <hr>
                    <div class="list-detail">
                        <div>
                            Payment ID: <%= booking.bookingID %> 
                        </div>
                        <div>
                            Payment Status:  <%= booking.paymentstatus %> 
                        </div>
                    </div>
    
                </div>
            </div>
        </div>
        <% }) %>
        
    

</div>
<%- include('../partials/footer-user.ejs') %>